<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Irrigation manager</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/reserve/irrigation.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<header class="header">
    <h1>PiotGreen에 오신 것을 환영합니다</h1>
    <p>실시간 농장 제어 명령 예약 페이지 - irrigation</p>
</header>


<button onclick="goToParent()">뒤로가기</button>


<form id="commandForm1" action="/reserve/irrigation" method="POST">
    <div class="sero">
        <label for="category1">Category:</label>
        <input type="text" id="category1" name="category" value="irrigation" readonly>
    </div>
    <div class="sero">
        <label for="commandValue1">Command & Value:</label>
        <select id="commandValue1" name="commandValue" required>
            <option value="">Select Command and Value</option>
            <option value="mode:pass">Mode - Pass</option>
            <option value="mode:auto">Mode - Auto</option>
        </select>
        <label for="timestamp1">Timestamp:</label>
        <input type="datetime-local" id="timestamp1" name="timestamp" required>
    </div>
    <button type="submit">Submit</button>
</form>


<form id="commandForm2" action="/reserve/irrigation" method="POST">
    <div class="sero">
        <label for="category2">Category:</label>
        <input type="text" id="category2" name="category" value="irrigation" readonly>
    </div>
    <div class="sero">
        <label for="target-humidity">Set Humidity: </label>
        <input type="range" id="target-humidity" min="0" max="100" step="1" value="60"
               oninput="updateHumidityValue(this.value)">
        <span id="humidity-display">wantHumidity:60</span>
        <!-- Hidden input field to send commandValue -->
        <input type="hidden" id="commandValueInput" name="commandValue" value="wantHumidity:60">
        <label for="timestamp2">Timestamp:</label>
        <input type="datetime-local" id="timestamp2" name="timestamp" required>
    </div>
    <button type="submit">Submit</button>
</form>

<h2>Irrigation Command 예약 내역</h2>
<div class="scroll">
    <table>
        <thead>
        <tr>
            <th>Category</th>
            <th>Command</th>
            <th>Value</th>
            <th>Timestamp</th>
            <th>Status</th>
            <th>cancel</th>

        </tr>
        </thead>
        <tbody>
        <!-- 타임리프 문법으로 데이터 반복 -->
        <tr th:each="commandData : ${irrigationReserveCommandDataList}">
            <td th:text="${commandData.category}">Category</td>
            <td th:text="${commandData.command}">Command</td>
            <td th:text="${commandData.value}">Value</td>
            <td th:text="${T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd HH:mm:ss').format(commandData.timestamp)}">
                Timestamp
            </td>
            <td th:text="${commandData.status}">Status</td>
            <td>
                <form action="/reserve/irrigation/delete" method="post">
                    <input type="hidden" name="id" th:value="${commandData.id}"/>
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<button onclick="goToParent()">뒤로가기</button>


<script src="/js/reserve/irrigation.js"></script>

</body>
</html>