<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Stream</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/history/intrusion.css">
</head>
<body>
<!--<h1>실시간 농장 모니터링 관리</h1>-->
<!--<img id="video" alt="Video Stream" />-->
<header class="header">
    <h1>PiotGreen에 오신 것을 환영합니다</h1>
    <p>실시간 농장 모니터링 history 페이지</p>
</header>
<button onclick="goToParent()">뒤로가기</button>



<!-- 연도와 월 선택 폼 -->
<form action="/history/intrusion" method="get">
    <!--    <label for="year">Year:</label>-->
    <!--    <input type="number" id="year" name="year" value="${year}">-->
    <label for="year">Year:</label>
    <select id="year" name="year">
        <!-- 연도 선택 -->
        <option th:each="y : ${#numbers.sequence(2020, 2025)}"
                th:value="${y}"
                th:text="${y}"
                th:selected="${y == year}">
        </option>
    </select>


    <!--    <label for="month">Month:</label>-->
    <!--    <input type="number" id="month" name="month" value="${month}">-->
    <label for="month">Month:</label>
    <select id="month" name="month">
        <!-- 월 선택 -->
        <option th:each="m : ${#numbers.sequence(1, 12)}"
                th:value="${m}"
                th:text="${m}"
                th:selected="${m == month}">
        </option>
    </select>

    <button type="submit">Filter</button>
</form>


<div class="data-display">
    <h1>Intrusion Data History</h1>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Danger Level</th>
            <th>Timestamp</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="intrusion : ${intrusionDataList}">
            <td th:text="${intrusion.id}"></td>
            <td th:text="${intrusion.dangerLevel}"></td>
            <td th:text="${intrusion.timestamp}"></td>
        </tr>
        </tbody>
    </table>
</div>

<button onclick="goToParent()">뒤로가기</button>
<script src="/js/history/intrusion.js"></script>

</body>
</html>
